!Workspace/packages
!*.dll
!*.lib
Deployment/
/Workspace/Satellite.Monitor.VC
Source/Monitor.ViewApp/obj/
Workspace/Satellite.Monitor.VC.db
Workspace/Satellite.Monitor.VC.VC.opendb
*.suo
Workspace/.vs/BNHealthMonitoring/v15/
Source/Monitor.ViewApp/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
