Debug
BNHealthMonitoring.VC.db
.vs/BNHealthMonitoring/v14/.suo
BNHealthMonitoring.VC.VC.opendb
BNHealthMonitoring/x64
Deployment
x64
Source/BNHealthMonitoring.UI/bin/
Source/BNHealthMonitoring.UI/obj/Release/BNHealthMonitoring.UI.csproj.FileListAbsolute.txt
Source/BNHealthMonitoring.UI/obj/
