#NDHeader{
	background-color: #0277BD;
	border: 1px solid #C7C7C7;
	height: 50px;
}

#HTitle{
		font-family: Arial;
		vertical-align: middle;
}

.HFrame{
		background-color: #FFFFFF;
}

.NDHomePage
{
			background-image: ""
			background-color: #FFFFFF

}
body.NDHomePage {
				background-color: #FFFFFF

}
	